<%- include("../../partials/header.ejs") %>
    <div class="bradcam_area"
        style="background-image: url('https://marquesfernandes.com/wp-content/uploads/2020/08/ferenc-almasi-c8h0n7fSTqs-unsplash-1024x690.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Serviços & Pacotes (Em breve)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service_area">
        <div class="container">
            <div class="row">
                <h1>Nossos Planos</h1>
                <div class="card-deck">
                    <%dbData.services.forEach((item, i)=> { %>
                        <div class="col-sm-3">
                            <div class="card" style="margin: 10px;">
                                <div class="card-header">
                                    <%=item.type%>
                                </div>
                                <img class="card-img-top" src="<%=item.image%>" alt="Imagem <%=item.title%>">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=item.title%>
                                    </h5>
                                    <p class="card-text">
                                        <%=item.desc%>
                                    </p>
                                    <a href="/servicos/<%=item.title%>" style="width: 100%;" class="btn btn-primary">Ver
                                        planos</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        <%=item.footer%>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <%})%>
                </div>
            </div>
        </div>
    </div>
    <%- include("../../partials/footer.ejs") %>