<%- include("../../partials/header.ejs") %> 
<div class="portfolio_details_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="portfolio_details_content text-center mb-50">
                    <span>Branding</span>
                    <h3><%=project.title%></h3>
                        <p><%=project.desc%></p>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="portfolio_details_thumb">
                    <img src="/<%=project.image%>" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../../partials/footer.ejs") %> 