<%- include("../../partials/header.ejs") %> 
<div class="bradcam_area" style="background-image: url('https://marquesfernandes.com/wp-content/uploads/2020/08/ferenc-almasi-c8h0n7fSTqs-unsplash-1024x690.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Porfólio</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gallery_area">
    <div class="container">
        <div class="row grid">
            <% dbData.portfolio.forEach((item, i)=> { %>
                <div class="col-xl-4 col-lg-6 grid-item cat1 col-md-6">
                    <div class="single-gallery mb-20">
                        <div class="portfolio-img">
                            <img src="<%=item.image%>" alt="">
                        </div>
                        <div class="gallery_hover">
                            <a href="/porfolio/detalhes/<%=item.id%>" class="hover_inner">
                                <h3><%=item.title%></h3>
                                <span><%=item.desc%></span>
                            </a>
                        </div>
                    </div>
                </div>
                <%});%>
            </div>
    </div>
</div>
<%- include("../../partials/footer.ejs") %> 